@use 'sass:color';

// -------------------- CORES PRIMÁRIAS --------------------
$brand-green-600: #16a34a; 
$brand-green-btn-hover: #21C05C;
$brand-blue-600: #2563eb; 

// -------------------- NEUTROS & SUPERFÍCIES --------------------
$bg-page: #fff; // fundo geral
$bg-border-card: #E4E4E7;; // borda do cards
$bg-metrics: #F3F5F8; // fundo dos metrics

$text-title-green: #15803D;
$text-title: #1f2937; // título
$text-subtitle: #4b5563; // subtítulo
$text-on-dark: #ffffff; // texto sobre fundos fortes

// Aliases semânticos
$color-primary: $brand-green-600; // cor primária
$color-primary-hover: $brand-green-btn-hover;

$color-accent: $brand-blue-600; // cor de destaque

$color-bg-app: $bg-page; // fundo da página


$color-text-strong: $text-title; // texto forte
$color-text-muted: $text-subtitle; // texto secundário
$color-text-inverse: $text-on-dark; // texto inverso

// -------------------- TIPOGRAFIA --------------------
$font-poppins: 'Poppins', sans-serif; // família para p, h1, h2
$font-inter: 'Inter', sans-serif; // família para h3, h4, h5

// Tamanhos (px → rem; base 16px)
$font-size-p: 1rem; // 16px
$font-size-h1: 1.5625rem; // 25px
$font-size-h2: 1.5625rem; // 25px
$font-size-h3: 1.5625rem; // 25px
$font-size-h4: 1.25rem; // 20px
$font-size-h5: 0.875rem; // 14px
$font-size-title: 2rem; // 32px 

// Pesos
$font-regular: 400; // Regular
$font-medium: 500; // Medium
$font-semibold: 600; // SemiBold
$font-bold: 700; // Bold

// Alturas de linha
$lh-tight: 1.15; // compacto
$lh-normal: 1.4; // padrão
$lh-relaxed: 1.6; // confortável

// -------------------- DIMENSÕES & ESPAÇAMENTOS --------------------
$container-max: 1004px; // largura máxima do container

// -------------------- RAIOS & SOMBRAS --------------------
$radius-sm: 0.375rem; // 6px
$radius-md: 0.5rem; // 8px
$radius-lg: 0.75rem; // 12px
$radius-xl: 1rem; // 16px
$radius-full: 99999rem;

// -------------------- COMPONENTES (aliases prontos) --------------------
$btn-height: 3rem; // 48px
$btn-primary-bg: $color-primary; // fundo padrão
$btn-primary-bg-hover: $color-primary-hover; // fundo hover
$btn-primary-text: $text-on-dark; // texto do botão
$btn-primary-radius: $radius-md; // 8px

