@use '../base/tokens';
@use '../base/mixins';
@use '../base/utils';

.site-header {
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;

  &__wrap {
    width: 100%;
    @include mixins.container-max(1106px);

    border-bottom: 1px solid #b4aeae;
    backdrop-filter: blur(2px);
    @include utils.xflex(between-center);
  }

  &__brand {
    display: flex;

    @include utils.xflex($align: center);
    text-decoration: none;
    gap: 10px;
  }

  &__nav {
    @include utils.xflex($align: center);
  }

  &__list {
    @include utils.xflex($align: center);
    gap: 16px 33px;
  }

  &__link {
    font-family: tokens.$font-poppins;
    white-space: nowrap;
  }

  &__title {
    color: tokens.$text-title;
    font-family: tokens.$font-poppins;
    font-size: 31.76px;
    font-style: normal;
    font-weight: tokens.$font-bold;
    line-height: 42.347px; /* 133.333% */
  }

  &__brand img {
    width: 36px;
    height: 36px;
  }
}

/* ===========================
   Responsividade (placeholders)
   =========================== */

/* mobile: < 1024px */
@include mixins.mobile {
  .site-header {
    min-height: 176px;
    margin: 34px 0 auto;

    &__wrap {
      @include utils.xflex($dir: column, $align: baseline, $gap: 38px);
    }

    &__list {
      @include utils.xflex($align: center, $gap: 16px 33px, $wrap: wrap);
    }

    &__nav {
      width: 100%;
      @include utils.xflex(
        $align: center,
        $justify: space-between,
        $wrap: wrap,
        $gap: 16px
      );

      padding-bottom: 16px;
    }
  }
}

/* desktop: ≥ 1024px */
@include mixins.desktop {
  .site-header {
    min-height: 90px;
    margin-top: 16px;
    padding: 0 37px;

    &__wrap {
      padding-bottom: 16px;
    }

    &__nav {
      @include utils.xflex($justify: space-between, $gap: 33px);
    }
  }
}
