@use '../base/tokens';
@use '../base/mixins';
@use '../base/utils';

.hero {
  &__wrap {
    @include utils.xflex(between-center, $gap: 20px);
  }

  &__actions {
    width: 100%;
    @include utils.xflex(
      $dir: row,
      $align: center,
      $justify: center,
      $gap: 16px
    );
  }

  &__title {
    font-weight: tokens.$font-bold;
    font-size: 60px;
    line-height: 130%;
    font-family: tokens.$font-poppins;
    @include utils.xflex($align: center, $justify: center);
    text-align: left;
  }
}

/* ===========================
   Responsividade (placeholders)
   =========================== */

/* mobile: < 1024px */
@include mixins.mobile {
  .hero {
    @include mixins.container-max(375px);
    &__wrap {
      margin-top: 42px;
      @include utils.xflex($dir: column);
    }

    &__content {
      @include utils.xflex(
        $dir: column,
        $align: center,
        $justify: space-between,
        $gap: 40px
      );
    }

    &__title {
      font-size: tokens.$font-size-title;
    }
  }
}

@include mixins.tablet {
  .hero {
    @include mixins.container-max(678px);

    &__title {
      font-size: 60px;
    }
  }
}

/* desktop: ≥ 1024px */
@include mixins.desktop {
  .hero {
    @include mixins.container;
    &__wrap {
      margin-top: 55px;
    }
  }
}
